<div class="votes-container">
    <div class="grid">
        <div class="grid-header">
            <div>ID</div>
            <div>Current votes</div>
            <div>Send vote</div>
        </div>
        <div class="content">
            <div class="grid-body" *ngFor="let item of votes">
                <div class="id">{{item.id}}</div>
                <div class="current-votes">{{item.count}}</div>
                <button type="button" class="btn-vote" (click)="sendVote(item.id)">{{item.name}}</button>
            </div>
        </div>
    </div>
</div>
