@import "palette";
@import "mixins";

.votes-container {
    .grid {
        max-width: 500px;
        min-width: 350px;

        .grid-header {
            display: grid;
            grid-template-columns: 0.1fr 0.5fr 0.5fr;
            grid-template-rows: auto;
            align-items: center;
            justify-items: center;
            grid-gap: 20px;

            @include RobotoBold();
            @include SetFont(16px, 20px, $text-color);
        }

        .content {
            margin-top: 20px;

            display: flex;
            flex-direction: column;
            gap: 20px;

            .grid-body {
                display: grid;
                grid-template-columns: 0.1fr 0.5fr 0.5fr;
                grid-template-rows: auto;
                align-items: center;
                justify-items: center;
                grid-gap: 20px;

                @include SetFont(14px, 18px, $text-color);

                .btn-vote {
                    width: 100%;
                }
            }
        }
    }
}
