@import "palette";
@import "mixins";

.header-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 120px;

    .title {
        margin-left: -100px;
        @include RobotoBold();
        @include SetFont(20px, 24px, $white);
        cursor: pointer;
        user-select: none;
    }
}
