@import "palette";
@import "mixins";

.footer-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 120px;

    .link-to-github {
        @include RobotoMedium();
        @include SetFont(16px, 20px, $white);
        cursor: pointer;
        user-select: none;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
