@import "palette";

@mixin RobotoLight() {
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
}

@mixin RobotoRegular() {
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
}

@mixin RobotoMedium() {
    font-family: "Roboto Medium", sans-serif;
    font-weight: 500;
}

@mixin RobotoBold() {
    font-family: "Roboto Bold", sans-serif;
    font-weight: 700;
}

@mixin SetFont($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}
