$white: #FFFFFF;
$black: #000000;
$dark-primary: #244053;
$semi-dark-primary: #2a6483;
$primary: #4C8FB5;

//accent colors
$accent-yellow: #ffae00;
$accent-green: #479B81;
$accent-blue: #0099bb;
$accent-red: #B54C4C;

// semantic colors
$text-color: #333333;
$text-gray: #828282;
